/* Hyprluggage - Dynamic (matugen) */
.theme-dark, .theme-light {
  --background-primary: #19120d;
  --background-primary-alt: #261e19;
  --background-secondary: #312823;
  --background-secondary-alt: #261e19;
  --background-modifier-hover: #3d332d;
  --background-modifier-border: #52443c;

  --text-normal: #f0dfd7;
  --text-muted: #d7c3b7;
  --text-faint: #9f8d83;
  --text-on-accent: #502400;

  --interactive-accent: #ffb786;
  --interactive-accent-hover: #6e390d;
  --text-accent: #ffb786;
  --text-accent-hover: #6e390d;

  --link-color: #ffb786;
  --link-color-hover: #c9ca94;
  --link-external-color: #e4bfa8;

  --code-background: #261e19;
  --code-normal: #f0dfd7;

  --text-error: #ffb4ab;
  --text-success: #c9ca94;
  --text-warning: #e4bfa8;

  --divider-color: #52443c;
  --icon-color: #d7c3b7;
  --icon-color-hover: #f0dfd7;
  --tag-color: #ffb786;
  --tag-background: #312823;
}

::selection { background: #ffb78640; }
