/* Hyprluggage - Dynamic (matugen) */
.theme-dark, .theme-light {
  --background-primary: #0f1417;
  --background-primary-alt: #1b2023;
  --background-secondary: #262b2e;
  --background-secondary-alt: #1b2023;
  --background-modifier-hover: #303539;
  --background-modifier-border: #40484c;

  --text-normal: #dfe3e7;
  --text-muted: #c0c7cd;
  --text-faint: #8a9297;
  --text-on-accent: #003547;

  --interactive-accent: #8ccff1;
  --interactive-accent-hover: #004d66;
  --text-accent: #8ccff1;
  --text-accent-hover: #004d66;

  --link-color: #8ccff1;
  --link-color-hover: #c7c2ea;
  --link-external-color: #b4cad6;

  --code-background: #1b2023;
  --code-normal: #dfe3e7;

  --text-error: #ffb4ab;
  --text-success: #c7c2ea;
  --text-warning: #b4cad6;

  --divider-color: #40484c;
  --icon-color: #c0c7cd;
  --icon-color-hover: #dfe3e7;
  --tag-color: #8ccff1;
  --tag-background: #262b2e;
}

::selection { background: #8ccff140; }
