/* Hyprluggage - Dynamic (matugen) */
.theme-dark, .theme-light {
  --background-primary: #0e1415;
  --background-primary-alt: #1a2121;
  --background-secondary: #252b2b;
  --background-secondary-alt: #1a2121;
  --background-modifier-hover: #303636;
  --background-modifier-border: #3f4949;

  --text-normal: #dde4e3;
  --text-muted: #bec8c8;
  --text-faint: #899393;
  --text-on-accent: #003739;

  --interactive-accent: #80d4d8;
  --interactive-accent-hover: #004f52;
  --text-accent: #80d4d8;
  --text-accent-hover: #004f52;

  --link-color: #80d4d8;
  --link-color-hover: #b5c7e9;
  --link-external-color: #b0cccc;

  --code-background: #1a2121;
  --code-normal: #dde4e3;

  --text-error: #ffb4ab;
  --text-success: #b5c7e9;
  --text-warning: #b0cccc;

  --divider-color: #3f4949;
  --icon-color: #bec8c8;
  --icon-color-hover: #dde4e3;
  --tag-color: #80d4d8;
  --tag-background: #252b2b;
}

::selection { background: #80d4d840; }
